{{#each this}}
<div class="flag__container">
        <img
        class="flag"
        src="{{flags.svg}}"
        alt="this is flag"
        />
        <h1>{{name.official}}</h1>
</div>
<ul class="country-list-info">
        <li class="country-list-info__item">
        <h2>Capital:</h2>
        <span class="country-list-info__value">{{capital}}</span>
        </li>
        <li class="country-list-info__item">
        <h2>Population:</h2>
        <span class="country-list-info__value">{{population}}</span
        >
        </li>
        <li class="country-list-info__item">
        <h2>Languages:</h2>
        <span class="country-list-info__value">Object.values({{languages}})</span
        >
        </li>
</ul>
{{/each}}